<div class="container">
  <h3>{{(vehicle$ | async).name}}</h3>
  <div class="coverage-item">
    <label>Comprehensive Deductible </label>
    <span>{{(vehicle$ | async).compDeductible}}</span>
  </div>
  <div class="coverage-item">
    <label>Collision Deductible</label>
    <span>{{(vehicle$ | async).collDeductible}}</span>
  </div>
  <div class="coverage-item">
    <label>Rental Car Reimbursement </label>
    <span>{{(vehicle$ | async).rentalCar}}</span>
  </div>
  <div class="coverage-item">
    <label>Roadside Assistance </label>
    <span>{{(vehicle$ | async).roadside}}</span>
  </div>
  <div>
    <button routerLink="/edit-coverage">EDIT COVERAGE</button>
  </div>
</div>
